<div class="mypage-container">
  <h1 class="page-title">マイページ</h1>

  <div class="profile-box">
    <p><strong>名前：</strong><%= @user.name %></p>
    <p><strong>プロフィール：</strong><%= @user.profile %></p>
    <% if current_user.id == @user.id %>
      <%= link_to "編集する", edit_user_registration_path, class: "edit-link" %>
    <% end %>
  </div>

  <h2 class="section-title">あなたの投稿一覧</h2>
  <% @user.tweets.each do |t| %>
    <div class="tweet-box">
      <p><strong>投稿者:</strong> <%= t.user.name %></p>
      <p><strong>店名:</strong> <%= t.shop_name %></p>
      <p><strong>場所:</strong> <%= t.shop_place %></p>
      <p><strong>料理:</strong> <%= t.foods %></p>
      <p><strong>価格:</strong> <%= t.price %>円</p>
      <p><strong>駐車場:</strong> <%= t.parking %></p>
      <p><strong>来店時間:</strong> <%= t.open_close %></p>
      <p><strong>投稿者ページ:</strong> <%= link_to t.user.name, user_path(t.user.id) %></p>
    </div>
  <% end %>

  <h2 class="section-title">あなたがいいねした投稿一覧</h2>
  <% @user.liked_tweets.each do |t| %>
    <div class="tweet-box">
      <p><strong>投稿者:</strong> <%= t.user.name %></p>
      <p><strong>店名:</strong> <%= t.shop_name %></p>
      <p><strong>場所:</strong> <%= t.shop_place %></p>
      <p><strong>料理:</strong> <%= t.foods %></p>
      <p><strong>価格:</strong> <%= t.price %>円</p>
      <p><strong>駐車場:</strong> <%= t.parking %></p>
      <p><strong>来店時間:</strong> <%= t.open_close %></p>
      <p><strong>投稿者ページ:</strong> <%= link_to t.user.name, user_path(t.user.id) %></p>
    </div>
  <% end %>

  <%= link_to "Tweet一覧に戻る", tweets_path, class: "back-link" %>
</div>
